.autoCompleteContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 90vw;
    max-width: 500px;
    max-height: 300px;
    overflow: auto;
    background-color: black;
    z-index: 10000
}

.suggestionItem {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.suggestionText {
    color: #9c8028;
}

.favoriteButton {
    border-radius: 10px;
}

.favoriteButton:hover,
.favorite:hover,
.notFavorite:hover {
    background-color: rgba(156, 128, 40, 0.5);
}

.favoriteImage {
    width: 30px;
    height: 30px;
    padding: 7.5px;
    object-fit: contain;
}