.autoCompleteContainer {
    position: absolute;
    top: 10px;
    left: 0;
    width: 90vw;
    max-width: 500px;
    max-height: 300px;
    overflow: auto;
    background-color: black;
    z-index: 10000;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.autoCompleteContainer::-webkit-scrollbar {
    display: none;
}

.suggestionItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 50px;
    padding: 9px 20px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid transparent
}

.suggestionItem:hover {
    background-color: rgba(156, 128, 40, 0.2);
    border: 1px solid rgba(156, 128, 40, 0.2)
}

.favoriteItem, .favoriteItem:hover {
    border: 1px solid #ff1027;
}

.suggestionText {
    color: #9c8028;
    font-family: Aniron;
    font-size: 12px;
}

.favoriteButton {
    border-radius: 10px;
    height: 30px;
    width: 30px;
    margin-left: auto;
    animation: none;
    border: 0;
    background-color: transparent;
    display: none;
}

.suggestionItem:hover .favoriteButton,
.favoriteButton.favorite {
    display: block;
}

.favoriteButton:hover,
.favorite:hover,
.notFavorite:hover {
    background-color: rgba(156, 128, 40, 0.5);
    border: 0;
}

.favoriteButton:active,
.favorite:active,
.notFavorite:active {
    animation: none
}

.favoriteImage {
    width: 30px;
    height: 30px;
    padding: 7.5px;
    object-fit: contain;
}