@keyframes swipeup {
    0% {
        margin-top: 80px;
        opacity: 0
    }

    100% {
        margin-top: 0;
        opacity: 1
    }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fadedBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.modalCard {
    animation: swipeup 0.75s ease-out;
    position: relative;
    z-index: 2;
    width: 70vw;
    min-height: 70vh;
    margin-top: 15vh;
    margin-bottom: 15vh;
    box-shadow: 0px 0px 10px #9c8028;
    border-radius: 1vw;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    overflow: hidden;
}

.title {
    margin-bottom: 24px;
}

.text {
    font-size: 18px;
    margin-bottom: 32px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.buttonRow {
    display: flex;
    gap: 32px;
}

.acceptButton {
    padding: 12px 32px;
    background: #9C8028;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.declineButton {
    padding: 12px 32px;
    background: #ccc;
    color: #222;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.imageRight {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
    object-fit: contain;
    z-index: 3;
    opacity: 0.25;
    pointer-events: none;
    user-select: none;
}