.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actionRowWrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 30px 0;
}

.wrapperOpen {
    border: 2px solid #9c8028;
    width: 90vw;
    border-radius: 30px
}

.actions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.actionsOpen {
    display: flex !important;
    margin: 10px 0;
}

.actionsClosed {
    display: none !important;
    margin: 0;
}

.openButton {
    background-color: transparent;
    color: #9c8028;
    font-size: 10px;
    border-radius: 25px;
    padding: 10px 30px;
    font-family: "Aniron";
    border: 2px solid #9c8028;
    position: relative
}

.openButton:hover {
    animation: fadeinbg 0.75s ease-out;
    background-color: black;
}

.openButton:active {
    animation: shakeaxe 0.2s ease-in-out;
}

.closeButton {
    border: 2px solid transparent;
    background-color: transparent;
    width: 100%;
    padding: 10px 30px;
    color: #9c8028;
    font-size: 10px;
    font-family: "Aniron";
    position: relative;
    animation: none;
}

.closeButton:hover {
    border: 2px solid transparent;
}

.closeButton:active {
    animation: none
}

.bottomButton,
a.bottomButton {
    background-color: transparent;
    color: #9c8028;
    font-size: 10px;
    border-radius: 25px;
    padding: 10px 30px;
    font-family: "Aniron";
    border: 2px solid #9c8028;
    position: relative;
    margin: 5px;
}

.bottomButton:hover {
    animation: fadeinbg 0.75s ease-out;
    background-color: black;
}

.bottomButton:active,
a.bottomButton:active {
    animation: shakeaxe 0.2s ease-in-out;
}

@keyframes fadeinbg {
    0% {
        background-color: transparent;
    }

    100% {
        background-color: black;
    }
}

@keyframes shakeaxe {
    0% {
        transform: translateX(0px);
    }

    25% {
        transform: translateX(-30px);
    }

    100% {
        transform: translateX(0px);
    }
}