.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actionRowWrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    margin-top: 30px;
}

.wrapperOpen {
    border: 2px solid #9c8028;
    width: 90vw;
    border-radius: 30px
}

.actions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.actionsOpen {
    display: flex !important;
    margin: 10px 0;
}

.actionsClosed {
    display: none !important;
    margin: 0;
}

.openButton {
    border: 2px solid transparent;
    background-color: rgb(0, 0, 0);
    color: #9c8028;
    font-size: 12px;
    border-radius: 25px;
    padding: 10px 30px;
    font-family: "Aniron";
    position: relative;
}

.openButton:hover {
    border: 2px solid #9c8028;
}

.closeButton {
    border: 2px solid transparent;
    background-color: transparent;
    width: 100%;
    padding: 10px 30px;
    color: #9c8028;
    font-size: 12px;
    font-family: "Aniron";
    position: relative;
    animation: none
}

.closeButton:hover {
    border: 2px solid transparent;
}

.closeButton:active {
    animation: none
}